---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Outift.com">
    <main class="mx-auto max-w-screen-xl px-12  md:max-w-375 ">
        <Header />	
]
    </main>
</Layout>

