---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro'
import Footer from '../components/Footer.astro';

---

<Layout title="Outift.com">
    <main class="">
        <Header />	
        <Hero />
        <Footer />
    </main>
</Layout>

