---
import Layout from '../layouts/Layout.astro';
import Thanksgiving from '../../public/images/Thanksgiving.jpg'
import newArrivalwomen from '../../public/images/newArrivalwomen.jpg'
import TA_Holiday_D from '../../public/images/TA_Holiday_D.jpg'
---


<Layout>
   <main class="container">
<nav id="home" class="">
<div class=" bg-gray-200">
    <p class="text-center"><b>Free Shipping</b> On All Orders Of $89+ Use Code <strong><span class="closeness">SHIP89&nbsp;</span></strong>
        |&nbsp;Free Returns At Your Local Store&nbsp;|&nbsp; See&nbsp;Details</p>
</div>
</nav>

<div class="main-content">
    <div class="main-img">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis quisquam ipsam nobis consequuntur cumque accusamus atque fugiat, odit dolorem dolores libero cum praesentium odio maxime et harum, perferendis porro perspiciatis.
    </div>
</div>
    </main>