---

import Layout from '../layouts/Layout.astro';

---


<Layout>
    <main>
        <div class="hero_wrapper">
            <div class="hero_container">

            </div>
        </div>
    </main> 
</Layout>


<style>
   .hero_wrapper{
    width: 100%!important;
    max-width: 100%!important;
    margin-bottom: 1rem;
   }
</style>