---
import Layout from '../layouts/Layout.astro';
import Thanksgiving from '../../public/images/Thanksgiving.jpg'
import newArrivalwomen from '../../public/images/newArrivalwomen.jpg'
import TA_Holiday_D from '../../public/images/TA_Holiday_D.jpg'
---


<Layout>
   <main class="container">
<nav id="home" class="">
<div class=" bg-gray-200">
    <p class="text-center"><b>Free Shipping</b> On All Orders Of $89+ Use Code <strong><span class="closeness">SHIP89&nbsp;</span></strong>
        |&nbsp;Free Returns At Your Local Store&nbsp;|&nbsp; See&nbsp;Details</p>
</div>
<p class="absolute font-bold text-3xl text-white mx-64 my-4">
    Get it for Thanksgiving - Order by 11/12* *
</p>
<div>
    <img src={Thanksgiving.src} alt="thanks"/> 
</div>

<div class="tagsArrivalsDiv md:grid grid-cols-2 grid-rows-2 gap-4">
<a class="tagsArrivals" href="">Women</a>
<a class="tagsArrivals" href="">Men</a>
<a class="tagsArrivals" href="">Kids &amp; baby</a>
<a class="tagsArrivals" href="">home</a>
</div>

<div class="mt-4">
    <a href=""><img src={newArrivalwomen.src} alt="smilingWomen"/> </a>  
</div>
<div>
    <p class="shopArrival">shop today's arrivals</p>
    <img src={TA_Holiday_D.src} alt="justArrived"/>   
</div>
</nav>
    </main>
</Layout>

<style>
.tagsArrivalsDiv{
position: absolute;
margin-top: 20rem;
margin-left: 25rem;
display: flex;
gap: 0.875rem;
}

.tagsArrivals{
   background-color: #fff;
   color: #e4002b;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 16.415px;
  width: 170px;
  height: 43px;
  text-align: center;
  line-height: 2.5;
}
.tagsArrivals:hover{
    background-color: rgb(248, 193, 205);
    color: #752330;
}

.shopArrival{
    position: absolute;
    margin-left: 43rem;
    margin-top: 1em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: large;
}

</style>